* {
    font-family: Arial, Helvetica, sans-serif;
}
body{
    padding: 0px;
    margin: 0px;;
}
header{
    background-color: black;
    width: 100%;
    padding: 20px 10px;
    text-align: center!important;
}
nav li{
    list-style: none;
    display: inline-block;
    margin-left: 10px;
    color: white;
}
nav li:hover{
    background: black;
    text-decoration: underline;
    color: red;
}